* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MoMedium";
}
body {
  overflow-x: hidden;
}
body.landingPage {
  padding-top: 0px;
}

@font-face {
  font-family: "MoLight";
  src: url("../fonts/Montserrat-Light.ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "MoRegular";
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "MoMedium";
  src: url("../fonts/Montserrat-Medium.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MoSemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MoBold";
  src: url("../fonts/Montserrat-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

input::placeholder {
  font-family: "MoRegular";
}
:root {
  --primary-color: hsla(202, 87%, 54%, 1);
  --second-text-color: hsla(0, 0%, 45%, 1);
  --black_color: #000000;
}
h1 {
  font-family: "MoBold";
}
.m60 {
  margin-bottom: 60px;
}
p {
  margin: 0;
  font-family: "MoRegular";
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: none;
  color: black;
}

html::-webkit-scrollbar {
  width: 10px;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg, #c781b7, black);
  border-radius: 30px;
}
html::-webkit-scrollbar-track {
  background-color: transparent;
}
.m80 {
  margin-bottom: 80px;
}
.m100 {
  margin-bottom: 100px;
}
.con {
  padding: 0px 136px;
}
@media (max-width: 1400px) {
  .con {
    padding: 0px 80px;
  }
}
@media (max-width: 1200px) {
  .con {
    padding: 0px 50px;
  }
}
@media (max-width: 992px) {
  .con {
    padding: 0px 30px;
  }
}
@media (max-width: 768px) {
  .con {
    padding: 0px 12px;
  }
}
/*==================================start navbar==============================*/
/*start navbar*/
/* Remove border from toggler */

.navbar {
  padding-top: 1rem;
  background-color: #ffffff8c;
  -webkit-backdrop-filter: blur(11px);
  backdrop-filter: blur(11px);
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

/* Lines of the Toggler */
.toggler-icon {
  width: 30px;
  height: 3px;
  background-color: var(--primary-color);
  display: block;
  transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar {
  margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
  background-color: black;
}

.navbar-collapse {
  flex-grow: 1;
}

.navbar-nav {
  margin: 0 !important;
  gap: 4px;
}

.navbar-collapse {
  justify-content: space-between;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand img {
}

.navbar-nav .nav-link {
  font-size: 14px;
  line-height: 30px;
  color: var(--second-text-color);
  font-family: "MoBold";
  transition: 0.3s;
}
.navbar-nav .nav-link:hover {
  transform: translateX(6px);
}
html[dir="rtl"] .navbar-nav .nav-link {
  font-size: 14px;
  line-height: 30px;
}
.endnav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar-toggler2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #88c0ce;
}

.rightNav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar .endnav {
}
.navbar .endnav .partAuth {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 15px;
}
.navbar .endnav .partAuth .part {
  display: flex;
  align-items: center;
  gap: 6px;
}
.navbar .endnav .partAuth .part a {
  display: flex;
  align-items: center;
  gap: 6px;
}
.navbar .endnav .partAuth .part img {
  width: 12px;
  height: 12px;
}
.navbar .endnav .partAuth .part svg {
  width: 12px;
  height: 12px;
}
.navbar .endnav .partAuth .part p {
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-color);
  font-weight: 700;
}
.navbar .endnav .partAuth span {
  color: var(--primary-color);
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}
.navbar .endnav .partsShop {
  display: flex;
}
.navbar .endnav .partSearch {
  min-width: 46px;
  width: auto;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .endnav .partsShop .btnSearch {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.navbar .endnav .partsShop svg {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
.navbar .endnav .partsShop p {
  font-size: 12px;
  line-height: 16px;
  color: var(--primary-color);
  place-content: center;
}
.navbar .titleLogo {
  font-size: 24px;
  font-weight: 700;
  min-width: 180px;
  margin: 0;
  font-family: "MoBold";
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .navbar-expand-lg .navbar-toggler2 {
    display: none;
  }
  .rightNav {
    display: none;
  }
}

@media (max-width: 1200px) {
  .navbar .titleLogo {
    min-width: auto;
  }
  .navbar-nav {
    gap: 8px;
  }
  .navbar-nav .nav-link {
    padding: 4px !important;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    background-color: var(--primary-color);
    border-radius: 44px;
    box-shadow: 0px 0px 9px #c08ec0;
  }
  .navbar-collapse .endnav {
    display: none;
  }
  .navbar-nav {
    align-items: center;
    padding: 20px;
  }
  .navbar-nav .nav-link {
    padding: 4px 0px;
  }
  .navbar-nav .nav-link {
    text-align: center;
    color: hsl(0deg 0% 26.13%);
  }
}

@media (max-width: 580px) {
  .navbar .endnav .partSearch {
    min-width: 36px;
    height: 48px;
  }
  .navbar .endnav .partsShop .btnSearch {
    padding: 8px 4px;
    gap: 3px;
  }
  .toggler-icon {
    width: 26px;
    height: 2px;
  }

  .navbar-toggler2 {
    margin-top: 8px;
  }
}

@media (max-width: 430px) {
  .navbar-toggler2 {
    gap: 10px;
  }
  .navbar .titleLogo {
    font-size: 20px;
  }
}

/*==================================end navbar==============================*/
/*header*/
header {
  background-color: hsla(228, 28%, 20%, 1);
  min-height: 58px;
  color: white;
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

header .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1;
  max-width: 1920px;
  margin: auto;
}
header .content .part {
}
header .content .part .contact {
  display: flex;
  align-items: center;
  gap: 10px;
  direction: ltr;
}
header .content .part .contact a {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
header .content .part .contact a svg {
  width: 16px;
  height: auto;
  object-fit: contain;
}
header .content .part .contact a p {
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-family: "MoBold";
  text-wrap: nowrap;
}
header .content .part.followUS {
}
header .content .part.followUS p {
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-family: "MoBold";
  text-align: center;
}
header .content .part.followUsLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .content .part.followUsLinks h2 {
  color: white;
  font-size: 14px;
  line-height: 24px;
  font-family: "MoBold";
  margin: 0;
}
header .content .part.followUsLinks ul {
  display: flex;
  align-items: center;
  gap: 5px;
}
header .content .part.followUsLinks ul li {
}
header .content .part.followUsLinks ul li a {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .content .part.followUsLinks ul li a svg {
  width: 16px;
  height: 16px;
}
@media (max-width: 768px) {
  header .content {
    justify-content: center;
    flex-direction: column;
    flex: 1;
  }
  header .content .part .contact a p {
    font-size: 12px;
  }
  header .content .part .contact a {
    gap: 6px;
    padding: 5px;
  }
  header .content .part.followUS p {
    font-size: 12px;
    text-align: center;
  }
  header .content .part.followUsLinks h2 {
    font-size: 12px;
  }
  header .content .part.followUsLinks ul {
    gap: 4px;
  }
  header .content .part.followUsLinks ul li a svg {
    width: 14px;
    height: 14px;
  }
  header .content .part.followUsLinks ul li a {
    padding: 4px;
  }
}
/*headerSwiper*/
.headerSwiper {
  height: 716px;
  max-width: 1920px;
  margin: auto;
  position: relative;
}
.headerSwiper .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 68px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.headerSwiper .partImg {
  width: 100%;
  height: 100%;
}
.headerSwiper .partImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}
.headerSwiper .content .partSwiper {
}
.headerSwiper .content .partSwiper .swiper-slide {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.headerSwiper .content .partSwiper .title {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-family: "MoBold";
  transition: 0.5s;
  margin-bottom: -20px;
}
.headerSwiper .content .partSwiper .subtitle {
  color: white;
  font-size: 58px;
  line-height: 80px;
  font-family: "MoBold";
  margin-bottom: -20px;
  transition: 0.5s;
}
.headerSwiper .content .partSwiper .text {
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-family: "MoRegular";
  transition: 0.5s;
  max-width: 380px;
  margin-top: -10px;
}
.headerSwiper .content .partSwiper .shopNow {
  background-color: hsla(148, 62%, 47%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  border: none;
  padding: 15px;
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-family: "MoBold";
  width: fit-content;
  min-width: 220px;
  transition: 0.5s;
  margin-top: -10px;
}
.headerSwiper .content .partSwiper .swiper-slide-active .title {
  margin-bottom: 0px;
}
.headerSwiper .content .partSwiper .swiper-slide-active .subtitle {
  margin-bottom: 0px;
}
.headerSwiper .content .partSwiper .swiper-slide-active .text {
  margin-top: 0px;
}
.headerSwiper .content .partSwiper .swiper-slide-active .shopNow {
  margin-top: 0px;
}
.headerSwiper .content .swiper-button-next,
.headerSwiper .content .swiper-button-prev {
  color: white;
}
.headerSwiper .content .swiper-pagination-bullet {
  width: 60px;
  height: 10px;
  border-radius: 0;
  margin: 0px 0.5px !important;
  background-color: white;
  transition: 0.3s;
}
@media (max-width: 768px) {
  .headerSwiper .content .partSwiper .title,
  .headerSwiper .content .partSwiper .text {
    text-align: center;
  }
  .headerSwiper .content .partSwiper .shopNow {
    margin: auto;
  }
  .headerSwiper .content .partSwiper .subtitle {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .headerSwiper .content {
    width: calc(100% - 10px);
  }
  .headerSwiper .swiper-button-next:after,
  .headerSwiper .swiper-button-prev:after {
    font-size: 28px;
  }
  .headerSwiper .swiper-pagination {
    display: none;
  }
}
/*header2*/
.header2 {
  padding: 50px 0px;
}
.header2 .content {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #96e9fb 0%, #abecd6 100%);
  border-radius: 20px;
  height: 622px;
}
.header2 .content .partImg {
  height: 100%;
  margin-right: -107px;
  width: 54%;
}
.header2 .content .partImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}
.header2 .content .partInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding-left: 70px;
}
.header2 .content .partInfo .title {
  color: hsla(209, 65%, 47%, 1);
  font-size: 16px;
  line-height: 24px;
  font-family: "MoBold";
  transition: 0.5s;
}
.header2 .content .partInfo .subtitle {
  color: hsla(228, 28%, 20%, 1);
  font-size: 58px;
  line-height: 80px;
  font-family: "MoBold";
  transition: 0.5s;
}
.header2 .content .partInfo .text {
  color: hsla(0, 0%, 45%, 1);
  font-size: 20px;
  line-height: 30px;
  font-family: "MoRegular";
  transition: 0.5s;
  max-width: 380px;
}
.header2 .content .partInfo .shopNow {
  background-color: hsla(202, 87%, 54%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
  border: none;
  padding: 15px;
  color: white;
  font-size: 24px;
  line-height: 32px;
  font-family: "MoBold";
  width: fit-content;
  min-width: 220px;
  transition: 0.5s;
}
@media (max-width: 768px) {
  .header2 .content {
    padding-top: 70px;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  .header2 .content .partImg {
    width: 100%;
    height: 450px;
    margin: 0;
  }
  .header2 .content .partInfo {
    gap: 30px;
    padding-left: 0;
    padding: 0px 30px;
  }
  .header2 .content .partInfo .title {
    text-align: center;
  }
  .header2 .content .partInfo .subtitle {
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }
  .header2 .content .partInfo .text {
    text-align: center;
  }
  .header2 .content .partInfo .shopNow {
    margin: auto;
  }
}
@media (max-width: 420px) {
  .header2 .content {
    gap: 26px;
  }
}
